{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}


<div class="container-fluid">


    <div class="row">


        <div style="padding-right: 5%;" class="col-md-6 ">
            <div style="margin-top:6% ; padding:5% 5% 5% 5%; font-size: 25px; margin-left: 15%; text-align: center; border: 3px solid fuchsia;box-shadow: 10px 10px 15px fuchsia; background-color: gray;" class="card">
            {{ wtf.quick_form(form) }}
            </div>

        </div>
        <div style="font-size: 1.5em; margin-top: 1%; padding-right: 5%;" class="col-md-6">
            <div class="row">
                <h1>ALL COMMENTS</h1>
               
            </div>
        </div>
    </div>

</div>


{% endblock %}