{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}
{% import 'macros.html' as macro%}


{% block content %}
<div class="container-row">
    {{macro.display(pitch)}}
</div>

{% for pitches in pitch %}
<div class="col-md-4">
    <div class="card">
        <div class="card-header">
            {{pitches.title}}
        </div>

        <div class="card-body">
            <h4 class="card-title">
                {{pitches.category}}
            </h4>
            <p class="card-text">
                {{pitches.pitch}}
            </p>
            <p>
                {{pitches.time}}
            </p>
            
            
        </div>
    </div>
</div>

{% endfor %}
{% endblock %}


