{%macro display(pitch)%}

{%for pitches in pitch%}
<!-- <div class="col-md-4">
    <div class="card">
        <div class="card-header">
            {{pitches.title}}
        </div>

        <div class="card-body">
            <h4 class="card-title">
                {{pitches.category}}
            </h4>
            <p class="card-text">
                {{pitches.pitches}}
            </p>
            <p>
                {{pitches.time}}
            </p>
            
            
        </div>
    </div>
</div> -->


{% endfor %}
{% endmacro %}